In [12]:
# Set start time

from datetime import datetime
start_time = datetime.now()

In [13]:
# Import libraries
import pandas as pd

In [14]:
# Load the CSV file
resort1_df = pd.read_csv('Resources/result_files/step1_build_exchange_gdp_sorted_df.csv')

In [15]:
# Display the first five rows of the DataFrame
resort1_df.head()

,Unnamed: 0,Record Date,Exchange Rate,Effective Date,Country,Currency,Country Name,Country Code,2001,2002,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Year
0,11764,3/31/01,78400.0,20010331,Afghanistan,Afghani,Afghanistan,AFG,0.0,0.0,...,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,0.0,0.0,2001
1,11604,6/30/01,73000.0,20010630,Afghanistan,Afghani,Afghanistan,AFG,0.0,0.0,...,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,0.0,0.0,2001
2,11443,9/30/01,71500.0,20010930,Afghanistan,Afghani,Afghanistan,AFG,0.0,0.0,...,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,0.0,0.0,2001
3,11282,12/31/01,38200.0,20011231,Afghanistan,Afghani,Afghanistan,AFG,0.0,0.0,...,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,0.0,0.0,2001
4,11181,3/31/02,35000.0,20020331,Afghanistan,Afghani,Afghanistan,AFG,0.0,0.0,...,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,-20.738839,0.0,0.0,2002

In [16]:
# Melt the dataframe to convert year columns into rows and align them with the 'Year' column
df_melted = resort1_df.melt(id_vars=['Record Date', 'Exchange Rate', 'Effective Date', 'Country', 'Currency', 'Country Name', 'Country Code', 'Year'],
                    value_vars=[str(year) for year in range(2001, 2024)],
                    var_name='Year_temp', value_name='GDPGrowth')

In [17]:
# Ensure the 'Year_temp' is numeric and matches the 'Year' column
df_melted['Year_temp'] = df_melted['Year_temp'].astype(int)

In [18]:
# Filter rows where 'Year' matches 'Year_temp'
df_filtered = df_melted[df_melted['Year'] == df_melted['Year_temp']]

In [19]:
# Drop the 'Year_temp' column
df_filtered = df_filtered.drop(columns=['Year_temp'])

In [20]:
# Reorder columns
df_final = df_filtered[['Record Date', 'Exchange Rate', 'Effective Date', 'Country', 'Currency', 'Country Name', 'Country Code', 'GDPGrowth', 'Year']]

In [21]:
# Save the resulting dataframe to a new CSV file
output_path = 'Resources/result_files/step2_reformat_data_for_analysis.csv'
df_final.to_csv(output_path, index=False)

In [22]:
# Display the first few rows of the final dataframe
df_final.head()

,Record Date,Exchange Rate,Effective Date,Country,Currency,Country Name,Country Code,GDPGrowth,Year
0,3/31/01,78400.0,20010331,Afghanistan,Afghani,Afghanistan,AFG,0.000000,2001
1,6/30/01,73000.0,20010630,Afghanistan,Afghani,Afghanistan,AFG,0.000000,2001
2,9/30/01,71500.0,20010930,Afghanistan,Afghani,Afghanistan,AFG,0.000000,2001
3,12/31/01,38200.0,20011231,Afghanistan,Afghani,Afghanistan,AFG,0.000000,2001
78,3/31/01,142.4,20010331,Albania,Lek,Albania,ALB,8.293313,2001

In [23]:
# Calculate Duration
end_time = datetime.now()
print('Duration: {}'.format(end_time - start_time))

Duration: 0:00:00.305458